<!DOCTYPE html PUBLIC  "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
{% load static %}
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title> ENG MAX </title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900|Varela+Round" rel="stylesheet" />
<link rel="stylesheet" href="{% static 'css/estilo.css' %}" />
<link rel="stylesheet" href="{% static 'css/fonts.css' %}" />
</head>



<body>
<div id="menu" class="container">
			<ul>
				<li class="current_page_item"><a href="#" accesskey="1" title="">Pagina Inicial</a></li>
				<li><a href="#" accesskey="1" title="">Serviços</a></li>
				<li><a href="#" accesskey="2" title="">Clientes</a></li>
				<li><a href="#" accesskey="3" title="">Ajuda</a></li>
				<li><a href="#" accesskey="4" title="">Carreira</a></li>
				<li><a href="#" accesskey="5" title="">Contato</a></li>
			</ul>
		</div>
	</div>
	<div id="page" class="container">
		<div class="column1">
			<div class="title">
				<h2>Eng Max</h2>
				<span class="byline">Engenharia Moderna </span>
			</div>
			<p>Empresa de engenharia especializada </strong>, nos mais diversos segmentos Ultimos Projetos:<a href="https://www.oec-eng.com/mundooec/pt-br/obras-e-projetos/10-obras-incriveis-da-engenharia" rel="nofollow">Projetos Desenvolvidos</a>. grandes obras pelo Brasil e Mundo <a href="https://www.tudoconstrucao.com/110-projetos-de-casas-modelos-para-construcao/">Projetos Casas </a>. Governo,Privado e Militar <a href="http://templated.co/license">Entre em contato </a> Competência e Garantia </p>
			<a href="#" class="button">Clientes</a>
		</div>
		<div class="column3">
			<div class="title">
				<h2>EDIFICIO MONTE CARLO </h2>
			</div>
			<img src="{% static 'img/pic01.jpg'%}" width="282" height="150" alt="" />
			<p>ZONA SUL RIO.</p>
			<a href="#" class="button">VER</a>
		</div>
		<div class="column4">
			<div class="title">
				<h2>EDIFICIO MONTE RIO SUL</h2>
			</div>
			<img src="{% static 'img/pic02.jpg'%}" width="282" height="150" alt="" />
			<p>ZONA OESTE SÃO PAULO</p>
			<a href="#" class="button">VER</a>
		</div>
	</div>
	<div id="portfolio-wrapper">
		<div id="portfolio" class="container">
			<div class="title">
				<h2>ENG MAX </h2>
				<span class="byline">ENGENHARIA MODERNA </span> </div>

		</div>
	</div>
</div>
<div id="footer">
	<p>&copy; Untitled. All rights reserved ENG MAX LTDA. Design by <a href="http://templated.co" rel="nofollow">TEMPLATED</a>. Photos by <a href="http://fotogrph.com/">Fotogrph</a>.</p>
</div>
</body>
</html>
